.card__item {
    max-width: 295px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

    transition: .3s ease;
}

.card__item:hover {
    transform: scale(1.08);
    color: var(--red);
}

.card__item img {
    width: 100%;
}

.card__item p {
    color: var(--gray);
}