header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;

    z-index: 999;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
}

nav  ul, .navbar__icons{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.navbar__icons form {
    width: 100%;
    display: flex;
}

.navbar__icons input {
    border: .5px solid var(--red);
    padding: .5rem;
    border-right: 0;
    outline: none;
    background-color: transparent;
}

.navbar__icons input::placeholder {
    color: var(--gray);
    font-size: .8rem;
    font-weight: 400;
}

.navbar__icons button {
    background-color: transparent;
    border: none;
    padding: .5rem;
}

button.ativa {
    width: 2.5rem;
    height: 2rem;
    background-color: var(--red);
    color: var(--white);
    border-radius: 0 1rem 1rem 0;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.navbar__home {
    .logo, .navbar__icons--item, a, button {
        color: var(--white);
        cursor: pointer;

        &:hover {
            color: var(--red);
            font-weight: 700;
        }
    }
}

.navbar__other {
    .logo, .navbar__icons--item, a, button {
        color: var(--black);
        cursor: pointer;

        &:hover {
            color: var(--red);
            font-weight: 700;
        }
    }
}

@media (max-width: 800px) {
    header {
        padding: 1rem 2rem;
    }

    nav ul li a {
        padding: .5rem;
    }
}

@media (max-width: 500px) {
    nav ul {
        display: none;
    }
}