.tag__promocao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;

    background-color: var(--red);
    color: var(--white);
    font-size: .8rem;
    font-weight: 500;
    line-height: 140%;

    margin-bottom: 5rem;
}