.tag__section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 0 0 1.5rem 0;
}

.tag__section p {
    color: var(--red);
    font-weight: 600;
}