@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --black: #040707;
  --red: #860038;
  --gray: #b2b7bb;
  --white: #fbfbfb;
  --gradient: linear-gradient(270deg, #c20042 0%, #860038 100%);
}

* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  padding: .5rem;
}

i {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
}

p {
  font-size: .8rem;
  font-weight: 500;
  line-height: 140%;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
